In [6]:
import pandas as pd
from pandas_profiling import ProfileReport

In [12]:
data = pd.read_csv('../data/training.csv')

In [10]:
profile = data.profile_report(title="Pandas Profiling Report")

In [ ]:
profile.to_file('Pandas Profiling Report.html')

Reviewing this report, it appears that vehicle age, year, and various cost/price variables are highly correlated. That makes sense! There are various other correlating variable groups, as well.

There are a couple variables that will be important to drop in the model:
    - highly missing variables (drop those with >50% missing. This is arbitrary - just capturing the ones I see as issues)
    - ID variables

In [44]:
missing_flag = data.isna().sum() > data.shape[0]*.5
drop_cols = list(missing_flag.index[missing_flag])
drop_cols

['PRIMEUNIT', 'AUCGUART']

In [38]:
data.filter(regex='ID|Id').nunique()

RefId          72983
WheelTypeID        4
dtype: int64

In [45]:
drop_cols.append('RefId')

In [62]:
data[['WheelType','WheelTypeID']].drop_duplicates()

     WheelType  WheelTypeID
0        Alloy          1.0
2       Covers          2.0
39         NaN          NaN
212    Special          3.0
2992       NaN          0.0

In [63]:
drop_cols.append('WheelTypeID')

In [64]:
drop_cols

['PRIMEUNIT', 'AUCGUART', 'RefId', 'WheelTypeID']

In [65]:
data_filtered = data.drop(drop_cols, axis = 1)

## IsBadBuy is slightly unbalanced

In [66]:
data_filtered['IsBadBuy'].value_counts()/data_filtered.shape[0]

0    0.877012
1    0.122988
Name: IsBadBuy, dtype: float64

## Derived variables

In [60]:
data_filtered.filter(regex='Date|Year|Age')

       PurchDate  VehYear  VehicleAge
0      12/7/2009     2006           3
1      12/7/2009     2004           5
2      12/7/2009     2005           4
3      12/7/2009     2004           5
4      12/7/2009     2005           4
...          ...      ...         ...
72978  12/2/2009     2001           8
72979  12/2/2009     2007           2
72980  12/2/2009     2005           4
72981  12/2/2009     2006           3
72982  12/2/2009     2006           3

[72983 rows x 3 columns]